:root{
    --body-color:#46344E;
    --secondary-color:#382a3f;
    --text-color: white;
    --about-color-outer:#241a29;
    --about-color-inner:black;
    --theme-color:white;
    --theme-div-border:white;
}